<h3>Edit Contact</h3>
<%= form_for(@store) do |f| %>
<%= render 'layouts/errors', :object => @store %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :phone %>
  <%= f.text_field :phone, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :facebook %>
  <%= f.text_field :facebook, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :twitter %>
  <%= f.text_field :twitter, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :instagram %>
  <%= f.text_field :instagram, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :pinterest %>
  <%= f.text_field :pinterest, class:'form-control' %>
</div>
<div class="actions">
  <%= f.submit class: 'btn btn-default' %>
</div>
<% end %>
