<% content_for(:admin_menu) do %>
  <h3>Edit Contact</h3>
  <%= render 'contact_form' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contact
            <strong><%= @store.name %></strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-12 text-center">
        <p>Phone:
            <strong><%= @store.phone %></strong>
        </p>
        <p>Email:
            <strong><a href="<%= @store.email %>"><%= @store.email %></a></strong>
        </p>
        <p>Address:
            <strong><%= @store.address%></strong>
        </p>
        <p>Hours:
            <strong><%= @store.hours %></strong>
        </p>
        <% if @store.facebook? %>
          <a href="https://<%= @store.facebook %>"><i class="fa fa-facebook-square fa-3x"></i></a>
        <% end %>
        <% if @store.instagram? %>
            <a href="https://<%= @store.instagram %>"><i class="fa fa-instagram fa-3x"></i></a>
        <% end %>
        <% if @store.twitter? %>
          <a href="https://<%= @store.twitter %>"><i class="fa fa-twitter-square fa-3x"></i></a>
        <% end %>
        <% if @store.pinterest? %>
          <a href="https://<%= @store.pinterest %>"><i class="fa fa-pinterest fa-3x"></i></a>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-md-8 col-md-offset-2">
          <div id="map"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /.container -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>
<script>
  function initMap() {
    $.get('https://maps.googleapis.com/maps/api/geocode/json?address=<%= @store.address %>&key=<%= ENV["GOOGLE_API_KEY"] %>').then(function(response){
      var uluru = response.results[0].geometry.viewport.northeast;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: <%= @location %>
      });
      var marker = new google.maps.Marker({
        position: <%= @location %>,
        map: map
      });
    })
  }
</script>
