<h3>Edit Brands</h3>
<% @brands.each do |brand| %>
<p><%= brand.name %></p>
  <%= form_for(brand) do |f| %>
  <%= render 'layouts/errors', :object => brand %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
  <hr>
  <% end %>
<% end %>
<h3>Add Brand</h3>
<% @new_brand = Brand.new() %>
<%= form_for(@new_brand) do |f| %>
  <%= render 'layouts/errors', :object => @new_brand %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
