<%= form_for(@product) do |f| %>
<%= render 'layouts/errors', :object => @product %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :price %>
  <%= f.text_field :price, class:'form-control' %>
</div>
<div class="form-group">
  <p>Image size is best at 540x540 pixels</p>
  <%= f.label :image %>
  <%= f.file_field :image, class:'form-control' %>
</div>
<p>Brand</p>
<% @brands.each do |brand| %>
  <%= f.radio_button :brand_id, brand.id %>
  <%= f.label "brand_id_#{brand.id}", brand.name %>
<% end %>
<p>Category</p>
<%= f.radio_button :category, 'dining' %>
<%= f.label 'category_dining', 'Dining' %>
<%= f.radio_button :category, 'bedroom' %>
<%= f.label 'category_bedroom', 'Bedroom' %>
<%= f.radio_button :category, 'living' %>
<%= f.label 'category_living', 'Living Room' %>
<div class="actions">
  <%= f.submit class: 'btn btn-default' %>
</div>
<% end %>
