<h3>Edit Landing Page</h3>
<%= form_for(@layout) do |f| %>
  <%= render 'errors', object: @layout %>
  <div class="form-group">
    <%= f.label :store_image %>
    <%= f.file_field :store_image %>
  </div>
  <div class="form-group">
    <%= f.label :store_copy %>
    <%= f.text_area :store_copy, class: 'form-control', rows: 8 %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
<h3>Edit Slideshow Images</h3>
<%= form_for @slideshow do |f| %>
  <% Image.all.each do |image| %>
    <% @slideshow.images.include?(image)? check = true : check = false %>
    <%= check_box_tag "images[]", image.id, check, id: image.id %>
    <%= label_tag image.id, image.image_file_name, class: 'slideshow-product' %>
    <br>
  <% end %>
  <br>
  <%= f.submit class: 'btn btn-default' %>
<% end %>
<br>
<%= form_for [@slideshow, @image] do |f| %>
  <%= f.label :image, 'New Image' %>
  <%= f.file_field :image %>
  <%= f.submit 'Add image', class: 'btn btn-default' %>
<% end %>
