<!DOCTYPE html>
<html>
  <head>
    <title>FurniturePress</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if @layout %>
      <% if @layout.css_id == 1 %>
        <%= stylesheet_link_tag    'casual', media: 'all', 'data-turbolinks-track': 'reload', id: 'style1' %>
      <% else %>
        <%= stylesheet_link_tag    'agency', media: 'all', 'data-turbolinks-track': 'reload', id: 'style2' %>
      <% end %>
    <% end %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= flash[:notice] %>
    <% if current_page?(new_store_path) %>
      <%= yield %>
    <% else %>
    <%= render 'layouts/admin_menu' %>
    <div class="page">
      <div class="logo">
        <div class="brand"><%= link_to @store.name, '/' %></div>
        <div class="address-bar" id="address"><%= @store.address %> | <%= @store.phone %></div>
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" id="nameMobile" href="/"><%= @store.name %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gallery <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><%= link_to 'Dining', products_path(products: 'dining') %></li>
                      <li><%= link_to 'Living Room', products_path(products: 'living') %></li>
                      <li><%= link_to 'Bedroom', products_path(products: 'bedroom') %></li>
                      <li><%= link_to 'Promotions', products_path(products: 'promos') %></li>
                  </ul>
                </li>
                <li><%= link_to 'Contact', store_path(@store) %></li>
                <li><%= link_to 'Brands', brands_path %></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>

      <%= yield %>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <p><%= @store.name %> &copy;</p>
              <hr>
            </div>
            <div class="col-lg-12 text-center">
              <% if @store.facebook? %>
                <a href="https://<%= @store.facebook %>"><i class="fa fa-facebook-square fa-2x"></i></a>
              <% end %>
              <% if @store.instagram? %>
                  <a href="https://<%= @store.instagram %>"><i class="fa fa-instagram fa-2x"></i></a>
              <% end %>
              <% if @store.twitter? %>
                <a href="https://<%= @store.twitter %>"><i class="fa fa-twitter-square fa-2x"></i></a>
              <% end %>
              <% if @store.pinterest? %>
                <a href="https://<%= @store.pinterest %>"><i class="fa fa-pinterest fa-2x"></i></a>
              <% end %>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      $('#close').click(function() {
        $('#admin-menu').hide();
        $('.page').css('width', '100%');
        $('.page').css('margin-left', '');
        $('.container').css('width', '')
      })
      $('#open-menu').click(function() {
        $('#admin-menu').show();
        $('.page').css('width', '70%');
        $('.page').css('margin-left', '30%');
        $('.container').css('width', '100%')
      })
    </script>
    <% end %>
  </body>
</html>
