<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneMVP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'casual', media: 'all', 'data-turbolinks-track': 'reload', id: 'style1' %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="logo">
      <div class="brand"><%= link_to @store.name, '/' %></div>
      <div class="address-bar" id="address"><%= @store.address %> | <%= @store.phone %></div>
      <!-- Navigation -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
              <a class="navbar-brand" id="nameMobile" href="index.html"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gallery <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><%= link_to 'Dining', products_path(products: 'dining') %></li>
                    <li><%= link_to 'Living Room', products_path(products: 'living') %></li>
                    <li><%= link_to 'Bedroom', products_path(products: 'bedroom') %></li>
                    <li><%= link_to 'Promotions', products_path(products: 'promos') %></li>
                </ul>
              </li>
              <li><%= link_to 'Contact', contacts_path %></li>
              <li><%= link_to 'Brands', brands_path %></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
    </div>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>HEllo</h1>
            <button type="button" name="button">button</button>
            <p><%= @store.name %> &copy;</p>
            <hr>
          </div>
          <div class="col-lg-12 text-center">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
          </div>
        </div>
      </div>
    </footer>


    <script>
      $(function() {
        var style = 1
        $('button').click(function() {
          if(style === 1) {
            $('#style1').remove();
            $('head').append('<link rel="stylesheet" media="all" href="/assets/agency.self-c2af4f323f14f3d14ad7095ca860fdb3e5a090ca43804e57ffd71ef449e49b0b.css?body=1" data-turbolinks-track="reload" id="style2">');
            style = 2
          }
          else if (style === 2) {
            $('#style2').remove();
            $('head').append('<link rel="stylesheet" media="all" href="/assets/casual.self-01bff32566f271fe794e70778b839f4d40b9cf5c2ee93822cca3aaee3beab117.css?body=1" data-turbolinks-track="reload" id="style1">')
            style = 1;
          }
        })
      })
    </script>
  </body>
</html>
